
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header{
    background-color: #163020;
    color:white;
    padding: 20px;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color:white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover{
    color:#f4c430;
}


.presentacion{
    min-height:500px;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url("../imagenes/amazonia.jpg");
    

    background-size: cover;
    background-position: center;


    display: flex;
    align-items:center;
    justify-content:center;

    text-align: center;
    padding: 40px 20px;
    color: white;

}

.presentacion-texto{
    max-width: 700px;
}

.presentacion h2{
    font-size: 45px;
    margin-bottom: 20 px;
    color:white;

}

.presentacion p{
    font-size: 20px;
    line-height: 1.6;
}

.boton {
    display: inline-block;
    background-color: #f4c430;
    color: #163020

    padding 12px 25px;
    text-decoration: none;
    border-radius:6px;
    margin-top: 15px;
}

.boton:hover{
    background-color:#d9ad20;
}

.destinos{
    padding: 60px 20px;
    text-aling:center;
}

.destinos h2{
    font: size 32px;
    color: #163020;
    margin-botton: 30 px;
}

.contenedor-destinos{
    max-width: 1100px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.tarjeta{
    background-color: white;
    padding: 30px;
    border-radius: 10px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.tarjeta h3{
    color: #163020;
    font-size: 24px;
}

.tarjeta p{
    line-height: 1.6;
    color: #555;
}

.tarjeta:hover{
    transform: translateY(-5px);
}




@media (max-width: 900px) {

    .contenedor-destinos {
        grid-template-columns: repeat(2, 1fr);
    }


}


@media (max-width: 600px) {

    header {
        flex-direction: column;
    }

    nav {
        margin-top: 15px;
    }

    nav a {
        margin: 5px;
    }

    .presentacion h2 {
        font-size: 32px;
    }

    .presentacion p {
        font-size: 17px;
    }

    .contenedor-destinos {
        grid-template-columns: 1fr;
    }

}


footer{
    background-color: #163020;
    color: white;
    text-aling: center;
    padding: 25 px;
}

footer p {
    margin: 5px;
}